button.cph-button, button.cph-button-light, button.cph-button-semitransparent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent; }
  button.cph-button i, button.cph-button-light i, button.cph-button-semitransparent i {
    color: #9b9b9b; }
  button.cph-button:hover i, button.cph-button-light:hover i, button.cph-button-semitransparent:hover i {
    color: #1781ff; }

button.cph-button-light i {
  color: white; }

button.cph-button-light:hover i {
  color: white; }

button.cph-button-semitransparent {
  background-color: rgba(255, 255, 255, 0.9); }

h2 {
  font-size: 18px;
  font-weight: 500;
  color: white; }

.omnibox-container {
  position: absolute;
  left: 11px;
  top: 10px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  -webkit-transition: background 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  background-color: white; }
  .omnibox-container .omnibox {
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.omnibox-input-container {
  height: 25px; }
  .omnibox-input-container input {
    height: 25px;
    width: 250px;
    margin: 0 5px 0 5px;
    border: 0;
    caret-color: #9b9b9b;
    font-size: 13px; }

.omnibox-icon {
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 58px; }
  .omnibox-icon i {
    font-size: 22px;
    color: #9b9b9b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.omnibox-button {
  height: 50px;
  width: 58px; }

.omnibox-droplist {
  border-top: 1px solid #e1e1e1;
  -webkit-transition: background 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
  .omnibox-droplist ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .omnibox-droplist ul li:first-child {
      background-color: #ededed; }
    .omnibox-droplist ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 38px; }
      .omnibox-droplist ul li .omnibox-selectable {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 38px;
        border-bottom: 1px solid #e1e1e1;
        width: calc(100% - 58px);
        margin: 0 0 0 5px; }
        .omnibox-droplist ul li .omnibox-selectable span {
          cursor: default;
          font-size: 13px; }
      .omnibox-droplist ul li:hover {
        background-color: #ededed; }
    .omnibox-droplist ul li:last-child .omnibox-selectable {
      border: 0; }

.omnisidebar {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 400px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 3px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 3px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  background-color: white; }

.omnisidebar-toggle {
  position: absolute;
  left: 100%;
  top: 10px;
  height: 48px;
  width: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px; }

.omnisidebar-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: 65px;
  background-color: #4285f4; }
  .omnisidebar-header-button {
    margin: 25px; }
    .omnisidebar-header-button:last-child {
      margin-left: auto; }

.omnisidebar-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  border-bottom: 1px solid #e1e1e1; }

.user-circle {
  z-index: -2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1ca828;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px; }
  .user-circle .user-circle-rel {
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border: 0;
    height: 35px;
    width: 35px;
    padding: 0; }

.zoom-toggle {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 26px;
  height: 50px;
  background-color: white;
  border-radius: 2px; }

.zoom-toggle-button button {
  border: 0;
  padding: 0;
  background-color: white; }
  .zoom-toggle-button button i {
    color: grey; }

.zoom-toggle-button.top {
  border-bottom: 1px solid #9b9b9b; }
