$omnibox-width: 360px;
$omnibox-height: 48px;
$omnibox-input-height: 25px;
$omnibox-input-width: 250px;
$omnibox-external-padding: 2px 0px 2px 0px;
$omnibox-hi-color: #9b9b9b;
$omnibox-button-width: $omnibox-height + 10px; // TODO: standardize on degree of rectification
$omnibox-droplist-height: 190px;
$omnibox-border-color: #e1e1e1;
$omnibox-search-hover-color: #1781ff; // TODO: point this to primary color
$omnibox-search-result-amount: 5; // 5 is probably best
$omnibox-font-size: 14px; // TODO: swap this for global default font size

// Omnisidebar
$omnisidebar-width: $omnibox-width + 40px;

//User Circle
$user-circle-size: 35px; // Perfect circle