//---------------------------------------------->>
//--- Google Omnibox Reconstruction
//--- Devon Germano - devon@cphandheld.com
//--- July 2017
//----------------------------------------------->>

@import "../variables";

// Omnibox
h2 {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.omnibox-container {
  position: absolute;
  left: 11px;
  top: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.02) 0px -1px 0px 0px;
  transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
  background-color: white;
  .omnibox {
    height: $omnibox-height;
    display: flex;
    align-items: center;
  }
}

.omnibox-input-container {
  height: $omnibox-input-height;
   input {
    height: $omnibox-input-height;
    width: $omnibox-input-width;
    margin: 0 5px 0 5px; // TODO: This should be a variable to be used on the omnibox droplist text
    border: 0;
    caret-color: $omnibox-hi-color;
    font-size: $omnibox-font-size;
  }
}

// The dud icon holder, not an actual icon (like for a button, that's different)
.omnibox-icon {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $omnibox-button-width;
    i {
    font-size: 22px;
    color: $omnibox-hi-color;
    user-select: none;
  }
}

.omnibox-button {
    height: $omnibox-height + 2px; // The top and bottom padding plus the bottom border
    width: $omnibox-button-width;
  }

// The box that exists inside of the extended omnibox-container, holds the search results
.omnibox-droplist {
  border-top: 1px solid #e1e1e1;
  //box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 2px 0px, rgba(0, 0, 0, 0.01) 0px -1px 0px 0px; // TODO: This looked strange...might wanna eval later?
  transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li:first-child {
      background-color: #ededed;
    }
    li {
      display: flex;
      align-items: center;
      height: 38px; // TODO: Standardize
      .omnibox-selectable {
        display: flex;
        align-items: center;
        height: 38px;
        border-bottom: 1px solid $omnibox-border-color;
        width: calc(100% - #{$omnibox-button-width}); // weird scss interpolation syntax
        margin: 0 0 0 5px;
        span {
          cursor: default;
          font-size: $omnibox-font-size;
        }
      }
      &:hover {
        background-color: #ededed;
      }
    }
    li:last-child{
      .omnibox-selectable {
        border: 0;
      }
    }
  }
}
